<%= form_with model: @to_do_list_invite do |form| %>
    <div>
        <%= form.label :invitee_email %>
        <%= form.email_field :invitee_email, required: true %>
    </div>
    <%= form.submit "Invite" %>
<% end %>